body {
    background-color:lightcyan;
  }

textarea{
      background-color:lavender;
      margin: 0px; 
      width: 80%; 
      height: 50%;
  }
  .home-menu {
      background: lavender;
  }
  .font {
      font-family:'Quicksand', sans-serif; 
      font-size:16px;
  }
  .buttoncolor{
      background-color: lavender;
      text-decoration-color: black;
      color: black;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .pure-menu-item{
      color: black;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .header{
      position: absolute;
      text-align:left;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  
  .function-container{
      background:lightcyan;
      text-align: center;
      z-index: 1;
      overflow: hidden;
      /* The following styles are required for the "scroll-over" effect */
      width: 100%;
      height: 88%;
      top: 0;
      left: 0;
      position: fixed !important;
  }

  .function{
      /* absolute center .splash within .splash-container */
      width: 80%;
      height: 100%;
      margin: auto;
      position: absolute;
      top: 100px; left: 0; bottom: 0; right: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
  }

  .about{
    background:lightcyan;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
    position: fixed !important;
  }
  .right-align {  
      float: right; 
  }
  
  h1{
      font-weight: 500;
  }
  .content-wrapper {
      /* These styles are required for the "scroll-over" effect */
      position: absolute;
      top: 95%;
      left: 0;
      min-height: 12%;
      z-index: 2;
      background: lavender;
      margin: 2em 0em 1em;
      padding: 1em 1em 3em;
  }
  .footer {
      background: lavender;
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 1em 1em 3em;
      height: .15%
  }
  .content-header{
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
      margin: 1em 2em 2em;
  }
  
  .content-subhead i {
      margin-right: 7px;
      margin-left: 2px;
  }
  .input{
      color: lavender;
      position: relative;
      width: 60%;
  }
  .buttonxx{
      color: lavender;
      position: relative;
      width:100%
  }
  .absolute1{
      position: absolute;
      bottom: 0;
      right: 200px;
  }
  .absolute2{
      position: absolute;
      bottom: 0;
      right: 5px;
  }
  .friend{
      width:80px;
      height: 30px;
  }

  .purple{
      background-color: lavender;
      margin-right: 7px;
      margin-left: 2px;
      height: 300px;
      overflow: scroll;
  }

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .about-title {
    background-color: lightcyan;
    top: 80%;
  }
  
  .about-body{
    width: 100px;
    height: 300px;
    overflow-y: auto;
  }

  #hidden_test{
      overflow:hidden;
  }

  #overflow-hidden {
      overflow: hidden;

  }

  #noscroll {
      overflow: hidden; 
  }
  #overflow-hidden2 {
    overflow-x: hidden;
    overflow-y: visible;
}#overflow-hidden3 {
    overflow: hidden;
}

  #scroll{
      overflow:scroll;
      height: 300px;
  }

  #fixedHeight {
      overflow: hidden;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }

  p {
    width: 100%;
    height: 300px;
    overflow:scroll;
  }

  #p {
    width: 100%;
    height: 300px;
    overflow:scroll;
  }