<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='base-min.css') }}">
        <title>explainr</title>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}">
        </script>
        @media (overflow-block: scroll)
        @import url('https://fonts.googleapis.com/css?family=Quicksand');
    </head>
    <style>
            body {
              background-color:lightcyan;
            }
    </style>
            
{% include 'header.html' %}
<body class=