<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" href="/Depedantify{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="/Depedantify{{ url_for('static', filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="/Depedantify{{ url_for('static', filename='css/grids-responsive-min.css') }}">
        <link rel="stylesheet" href="/Depedantify{{ url_for('static', filename='css/base-min.css') }}">
        <link rel="stylesheet" href="/Depedantify{{ url_for('static', filename='css/index.css') }}">
        <title>Depedantify</title>
        <script type="text/javascript" src="/Depedantify{{ url_for('static', filename='main.js') }}">
        </script>
        @media (overflow-block: scroll)
        @import url('https://fonts.googleapis.com/css?family=Quicksand');
    </head>
    <style>
            body {
              background-color:lightcyan;
            }
            #overflow-hidden {
                height: 80%; 
                overflow-y: auto;
            }
    </style>
<body>
        {% include 'header.html' %}
        <div class="function-container" >
                <video autoplay>test</video>
                <div class="function font">
                    <h1 class="function-header"> about depedantify</h1>
                    </h1>
                    <div  class="pure-g pure-g--gutter" style="overflow:hidden" >
                        <div id="overflow-hidden2" class="1-box pure-u-1 purple" style="text-align: left; padding: 15px; margin: 2rem 0; height: 60vh">
                            <h3  class="content-subhead" style="text-align:center">
                                How It Works
                            </h3>
                            <p id="overflow-hidden" style="text-transform:none" style="overflow:scroll">
                                DePedantify simplifies complex text for easy comprehension. The website accepts raw text, a pdf, or an image of text, parces it into new raw text that is then split into sentences while retaining the individual sentences' contexts. The site operates under the assumption that a sentence, when paired with the sentence directly before and after, is enough information to extract meaning and consequently simplify the content. The site then translates pdfs of scanned images or books into text pdfs that are searchable and able to be copied and pasted: a student's best friend! After DePedantification, users are able to hover over sentences on the returned text pdf, and the DePedantified English plus user annotations are shown, and if a singular word is selected, the Wikipedia page is shown.<br> <br>
                                One significant strength of Pedantify is that its users do not need to have a raw text file of the document; the site accepts photos of documents and pdf files as well. By accepting these images, the site allows users to DePedantify a wide array of sources of written material. This makes our service applicable to a diverse range of users, whether it be a student who may be struggling to understand a singular page in a textbook, or a leisurely reader trying to process a complex fictional text. Just snap a picture on your phone and upload it to the site for a simple DePedantification. <br> <br>
                                Furthermore, the site allows users to interact and leave annotations on other users' documents. Other people who may be reading the same document may add additional annotations to the text, adding context and supplementary information that can then be rated by other users. These comments are then displayed based on their rates. This is particularly helpful on commonly shared texts, like a required reading for a class or a famously difficult text like Shakespeare.
                            </p>
                            </div>
                    </div>
                </div>
            </div> 
        {% include 'footer.html' %}
</html>
