<!DOCTYPE html>
<html>
    <head>
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <title>explainr</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}">
        </script>
        @media (overflow-block: scroll)
        @import url('https://fonts.googleapis.com/css?family=Quicksand');
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Hi, {{ current_user.username }}!</h1>
        {% for i in favs %}
        <div>
            <p>i</p>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
