<div class="header font">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href>DePedantify</a>
                <ul class="pure-menu-list  right-align">
                    <li class="pure-menu-item pure-menu-selected">
                        <a href="#" class="pure-menu-link">How It Works</a>
                    </li>
                    <li class="pure-menu-item pure-menu-selected">
                            <a href="#" class="pure-menu-link">Document Library</a>
                    </li>
                    <li class="pure-menu-item pure-menu-selected">
                            <a href="#" class="pure-menu-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
        