
<div class="header font">
        <div id="height: 7em;" class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href>DePedantify</a>
            <ul class="pure-menu-list  right-align">
                <li class="pure-menu-item pure-menu-selected">
                    <a href="/" class="pure-menu-link">Home</a>
                </li>
                <li class="pure-menu-item pure-menu-selected">
                        <a href="/favorites" class="pure-menu-link">Document Library</a>
                </li>
                <li class="pure-menu-item pure-menu-selected">
                        <a href="/about" class="pure-menu-link">About</a>
                </li>

                {% if current_user.is_anonymous %}
                <li class="pure-menu-item pure-menu-selected">
                        <a href="/login" class="pure-menu-link">Login</a>
                </li>
                {% else %} 
                <li class="pure-menu-item pure-menu-selected">
                        <a href="/logout" class="pure-menu-link">Logout</a>
                </li>
                <canvas data="{{ current_user.profile_pic }}" id="mycanvas" width="50" height="50" style="position:relative; top:5px; right: 5px; border: 1px solid black"></canvas>
                <script>
                        createProfile();
                </script>
                {% endif %}
            </ul>
        </div>
    </div>
