<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <title>explainr</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}">
        </script>
        @media (overflow-block: scroll)
        @import url('https://fonts.googleapis.com/css?family=Quicksand');
    </head>
    <body onload="loadPage();">
        <canvas id="thecanvas" width="200" height="100"></canvas>
        {% include 'header.html' %}
    <div class="function-container">
            <video autoplay>test</video>
            <div class="function font">
                <h1 class="function-header"> Enter Your Text</h1>
                    <textarea id="textArea" style="background-color:lavender"></textarea>
                    <img id="imgDisplay" src="" height="200">
                <div class="button " >
                    <button id="submitBtn" class="pure-button pure-button-primary font buttoncolor" onclick="sendText();" type="button">Submit Text
                    </button> 
                    <button class="pure-button pure-button-primary font buttoncolor" onclick="clearImage();" type="button">Clear Image
                        </button>
                    <div class="input">
                        <button class="pure-button pure-button-primary font buttoncolor absolute1 font">
                            Upload
                        </button>   
                        <input id="fileSelect" value="Choose File" type="file" class="friend pure-button pure-button-primary font buttoncolor absolute2" onchange="previewFile();" style="opacity:0">
                    </div>
                </div>
            <span id="characters">0</span>
            <p class="subhead font" >
                Copy and paste your text, or upload a document, pdf, or image here
            </p>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content font">
            <h2 class="content-header">
                ABOUT DePedantify
            </h2>
            <div class="pure-g">
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        Get Started
                    </h3>
                    <p>
                        hello this is a cool project fun fun fun. sometimes i get bored and write all about witches and frogs and have google tell me how i'm feeling.
                    </p>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        How It Works
                    </h3>
                    <p>
                        hello this is a cool project fun fun fun. the internet is probably my best friend. i hope code cant be copywrited bc otherwise ima die.
                    </p>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        Document Library
                    </h3>
                    <p>
                        hello this is a cool project fun fun fun. maybe i shouldnt be a stem major. i could have a lot of fun just looking at words all day. maybe i'll write a dictionary. not a language. a dictionary.
                    </p>
                </div>
                <div class="1-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        About Us
                    </h3>
                    <p>
                        hello this is a cool project fun fun fun. this shoudl go in the about us category but this team is made of (ba)zofia and gabe(b) and garrett(grampa garry) and (k)evan. i promise its a good time. we learn together and Harvey Mudd school of Counting (HMC).
                    </p>
                </div>
            </div>
        </div>
    </div> 
{% include 'footer.html' %}

</html>