<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <title>explainr</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}">
        </script>
    </head>
    <body>
        <style>
            #login-form {
                text-align: center;
                position: relative;
                top: 50px;
            }    

            #message_one, #message_two, #message_three {
                display: inline-block;
                width: 100px;
            }
        </style>
        {% include 'header.html' %}
        <div id="login-form">
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Username</label>
                        <input id="name" type="text" placeholder="Username">
                        <span id="message_one" class="pure-form-message-inline"></span>
                    </div>
            
                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Password">
                        <span id="message_two" class="pure-form-message-inline"></span>
                    </div>
            
                    <div class="pure-controls">
                        <button id="submitBtn" onclick="tryLogin();" type="button" class="pure-button pure-button-primary">Submit</button>
                        <span id="response_msg" class="pure-form-message-inline"></span>
                    </div>
                    <p>
                        Don't have an account? <a href="/register">Register here</a>.
                    </p>

                </fieldset>
            </form>
        </div>
        
        {% include 'footer.html' %}
    </div>
</html>

